.cart-btn-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.cart-btn {
  font: inherit;
  cursor: pointer;
  background-color: #4d1601;
  border: 1px solid #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  border-radius: 25px;
  font-weight: bold;
}
.cart-btn:hover,
.cart-btn:active {
  background-color: #2c0d00;
  border-color: #2c0d00;
}   